<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/adeprem" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://www.instagram.com/adepremilhat/" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/auriane.depremilhat" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/adepremilhat" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/auriane-de-premilhat-a5b827117" target="_blank"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website was made with <i class="fa fa-heart"></i> by Auriane
  </div>
  </div>
